apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose --file docker-compose.yml convert
    kompose.version: 1.26.0 (40646f47)
  creationTimestamp: null
  labels:
    io.kompose.service: service
  name: mariadb-service
spec:
  ports:
    - name: "4406"
      port: 4406
      targetPort: 3306
  selector:
    io.kompose.service: mariadb-service
status:
  loadBalancer: {}
